@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Viga&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  overflow: hidden;
}

.grid-container {
  margin: auto;
  height: 83vh;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  transition: 300ms transform ease-in;
}
.grid-container .grid-item {
  background-color: rgb(20, 86, 95);
  border: 4px solid lightseagreen;
  cursor: pointer;
  font-size: 7rem;
  color: white;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container .grid-item:hover {
  background-color: rgb(20, 75, 82);
}
.grid-container .grid-item:active {
  background-color: rgb(8, 55, 61);
}

h1 {
  font-family: "Viga";
  position: relative;
  font-size: 4rem;
  display: inline-block;
  margin: auto;
}

h1::before {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: lightseagreen;
  transition: 400ms width ease-out;
  width: 0;
}

h1:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

span {
  font-size: 4rem;
  font-family: "Viga";
  background-color: lightseagreen;
  padding: 1.3rem;
  width: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin: auto;
  transform: translate(0, -80%);
  border-radius: 1rem;
  cursor: pointer;
  transition: 400ms background-color;
}

span:hover {
  box-shadow: black 4px 4px;
}

span:active {
  box-shadow: none;
}

.top-container {
  width: 100%;
  height: 60vh;
  display: grid;
}

.lower-container {
  height: 40vh;
  width: 100%;
  display: grid;
}

h1::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  left: 0;
  top: 0;
  background-color: lightseagreen;
  transition: 400ms width ease-in;
}

a {
  text-decoration: none;
  color: black;
}

h1:hover::after {
  width: 100%;
  left: auto;
  right: 0;
}

.won {
  display: flex;
  justify-content: center;
}

.grid-item:active body {
  pointer-events: none;
}
